* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;

}
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

*::-webkit-scrollbar {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0 0 0.3vw;
  padding: var(--index) 0 var(--index);
  text-align: center;
  
  /* background: ; */
}
.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #9c9c9c;
  /* color: var(--color-header); */
  display: inline-block;
  vertical-align:top;
}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: calc(var(--index) / 10);
  position: relative;
  padding-bottom: calc(var(--index) / 10);
  margin: 0 var(--index) 0 var(--index);
  font-size: calc(var(--index) / 1.5);
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
}
.menu-main a, .menu-main a:visited {color: #e4dce4;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: calc(var(--index) / 10);
  top: auto;
  right: 50%;
  bottom: -0.5vh;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   


header {
  width: 100vw;
  height: min-content;
}

body {
  background: #8c0101;
  background: linear-gradient(90deg, rgba(140, 1, 1, 1) 1%, rgba(199, 87, 87, 1) 62%, rgba(237, 147, 83, 1) 100%);
}

.emptiness {
  min-width: 70%;
  height: min-content;
}


.content {
  width: 90vw;
  min-height: 88vh;
  max-height: auto;
  margin: 0 5vw 0 5vw;
  background-color: #9d999d;
  border-radius: var(--index);
}
.name-chapter__wrap {
  width: 100%;
  height: 10vh;
  display: flex;
}
.name-chapter {
  color: var(--color-header);
  font-size: calc(var(--index) * 2.5);
  padding: calc(var(--index) / 4) 0 0 var(--index);
  font-family: "Rubik Mono One", monospace;
  line-height: 90%;
}

.descript-photo-wrap {
  display: flex;
  height: 60vh;
  width: 100%;
  margin: calc(var(--index)) 0 0 var(--index);
  text-indent: calc(var(--index) / 2);
  text-align: justify;
}

.descritp-chapter {
  min-width: 50%;
  height: min-content;
  font-size: calc(var(--index) / 1.2);
  color: white;
}

.photo-chapter {
  min-width: 30%;
  height: 100%;
}
.photo-chapter > img{
  min-width: 60%;
  max-width: 90%;
  max-height: 100%;
}