* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

:root {
  --index: calc(1vw + 1vh);
  --color-header: #f4efec;
  --color-text: #cdc6c3;

}
.rubik-mono-one-regular {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: raleway-c;
  src: url(../fonts/raleway-regular.woff2);
}
@font-face {
  font-family: outfit-c;
  src: url(../fonts/outfit-regular.woff2);
}

.homepage--active {
  color: #feb386;
}

.homepage--unactive {
  color: #e4dce4;
}

*::-webkit-scrollbar {
  display: none;
}

@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed');
.menu-main {
  list-style: none;
  margin: 0 0 0.3vw;
  padding: 0 0 var(--index);
  text-align: center;
}


.menu-main li {
  display: inline-block;
  /* vertical-align: middle; */
  vertical-align: -3em;
}


.menu-main li {display: inline-block;}
.menu-main li:after {
  content: "|";
  color: #9c9c9c;
  /* color: var(--color-header); */
  display: inline-block;
  vertical-align:middle;

}
.menu-main li:last-child:after {content: none;}
.menu-main a {
  text-decoration: none;
  font-family: 'Ubuntu Condensed', sans-serif;
  letter-spacing: calc(var(--index) / 10);
  position: relative;
  padding-bottom: calc(var(--index) / 10);
  margin: 0 var(--index) 0 var(--index);
  font-size: calc(var(--index) / 1.5);
  text-transform: uppercase;
  display: inline-block;
  transition: color .2s;
  line-height: 1.6;
}
.menu-main a, .menu-main a:visited {color: #e4dce4;}
.menu-main a.current, .menu-main a:hover{color: #feb386;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: calc(var(--index) / 10);
  top: auto;
  right: 50%;
  bottom: -0.5vh;
  left: 50%;
  background: #feb386;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   

.logo-wrapper {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  width: 5vw;
  justify-content: center;
}

.logo-link {
  display: block;
  width: 3em;
  height: 3em;
  transition: color .2s;
}

.icon-home {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

.homepage--unactive:hover {
  color: #feb386;
  transition: .8s;

}


header {
  width: 100vw;
  height: min-content;
  justify-content: flex-start;
  display: flex;


}

body {
  background: #8c0101;
  background: linear-gradient(90deg, rgba(140, 1, 1, 1) 1%, rgba(199, 87, 87, 1) 62%, rgba(237, 147, 83, 1) 100%);
}

.logo-wrap {
  height: min-content;
  display: flex;
}

.logo-wrap > img {
  width: calc(var(--index) * 5);
  float: right;
}

.content {
  width: 90vw;
  min-height: 88vh;
  /* max-height: auto; */
  margin: 0 5vw 1vh 5vw;
  background-color: #EFEFEF;
  /* background-color: #9d999d; */
  border-radius: var(--index);
}
.name-chapter__wrap {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name-chapter {
  color: #646464;
  font-size: calc(var(--index) * 2.2);
  padding: calc(var(--index) / 4) 0 0 var(--index);
  font-family: "Rubik Mono One", monospace;
  line-height: 90%;
}

.descript-photo-wrap {
  /* display: flex; */
  min-height: 60vh;
  width: 100%;
  margin: 0 0 0 var(--index);
  text-indent: calc(var(--index));
  text-align: justify;
}

.descritp-chapter {
  width: calc(99% - var(--index));
  height: min-content;
  font-size: calc(var(--index));
  color: #222222;
  font-family: Aptos;
}

.descritp-chapter > p, .descritp-chapter > span {
  text-align: justify;
}
.map-photo__wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: calc(var(--index) / 2);
  margin-bottom: calc(var(--index) / 2);
}
.map--wrap > img {
  width: calc(var(--index) * 15);
}
.map--wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 calc(var(--index));
  text-align: center;
}
.map-link {
  font-family: 'Times New Roman', Times, serif;
  font-size: calc(var(--index));
  color: var(--color-header);
  font-weight: bold;
}
.autors-photo {
  font-family: serif;
  font-size: var(--index);
  color: var(--color-text);
  font-style: italic;
}

/* .photo-chapter {
  min-width: 30%;
  height: 100%;
}
.photo-chapter > img{
  min-width: 60%;
  max-width: 90%;
  max-height: 100%;
} */

.map-wraper {
  height: calc(var(--index) * 24);
  width: 100%;
  margin-top: var(--index);
}

.iframe-map {
  width: 90%;
  height: 100%;
  background-color: white;
  margin: 5vh 0 5vw 5vw;
}
.title-wrap {
  width: 100vw;
  height: 10%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.title-name {
  font-size: calc(var(--index) * 2.5);
  font-family: "Rubik Mono One", monospace;;
  color: var(--color-header);
}