/* /* @media (max-width: 1200px) {
    .photo-chapter {
        min-width: 40%;
    }
    .descript-photo-wrap {
        margin: 0 0 0 var(--index);
    }
} */

@media (max-width: 1418px) {
    
    .name-chapter__wrap {
        height: 6vh;
        align-items: baseline;
        margin: 0 0 0.1vh 0;
    }
}

@media (max-width: 1039px) {
    .menu-main a:before,
    .menu-main a:after {
         bottom: -0.1vh;
        
    }
}

@media (max-width: 1085px) {
    .ui-wrapper {
        display: block;
        margin-top: calc(var(--index) / 4);
    }
}

@media (max-width: 936px) {
    .title-name {
        font-size: calc(var(--index) * 2.4);
    }
    .name-chapter__wrap {
        height: 4.5vh;
    }
}

@media (max-width: 879px) {
    .title-name {
        font-size: calc(var(--index) * 2.3);
    }
}

@media (max-width: 744px) {
    .map--wrap {
        margin: 0;
        margin-right: calc(var(--index));
    } 
    /* .map-photo__wrap {
        justify-content: flex-start;
    } */
    .map-photo__wrap .map--wrap:last-child {
        margin: 0;
  }
}
 
@media(max-width: 680px) {
    .map--wrap {
        margin: 0;
        margin-right: calc(var(--index) / 2);
    } 
}

@media (max-width: 670px) {
    .menu-main {padding-top: 0;}
    .menu-main li {display: block;}
    .menu-main li:after {content: none;}
    .menu-main a {
        padding: 0.1vw 0 0.1vw; 
        margin: 0 .5vh;
    }

    header {
        justify-content: center;
    }

    .name-chapter {
        font-size: calc(var(--index) * 1.8);
    }

    .title-name {
        font-size: calc(var(--index) * 1.6);
    }

    .photo-chapter {
        min-width: 50%;
    }

    .photo-chapter > img{
        max-width: 80%;
    }

    .descript-photo-wrap {
        margin: -2vh 0 0 calc(var(--index));
    }

    .ui-wrapper {
        display: block;
        margin-top: calc(var(--index) * 2);
    }

    .name-chapter__wrap {
        height: 5vh;
    }
} 

@media(max-width: 665px) {
   .map--wrap > img {
        width: calc(var(--index) * 14);
   } 
}

@media(max-width: 599px) {
   .map--wrap > img {
        width: calc(var(--index) * 12);
   } 
}